<section class="hero">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg">Go to check the Membership Kit product detail</h6>
            <h1 class="text-6xl font-bold">TREASURE MAKER MEMBERSHIP KIT</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"><a href="/products/61b2d4e7953746c8ac7452c9">View More</a></button>
        </div>
        <div class="w-1/2">
            <img class="w-full" src="/img/hero2.png" alt="">
        </div>
    </div>
</section>

<section class="product container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Products</h1>
    <div class="grid grid-cols-5 gap-x-12 gap-y-16">
        <% for (let i = 0; i < 10; i++) { %>
            <a class="product" href="/products/<%= merch[i]._id %>">
                <div class="w-64">
                    <img class="w-60 mb-4 mx-auto" src="/img/<%= merch[i].image %>" alt="">
                    <div class="text-center">
                        <h2 class="font-bold text-lg"><%= merch[i].name %></h2>
                        <div class="flex items-center justify-around mt-1">
                            <span class="text-lg">$<%= merch[i].price.toFixed(2) %></span>
                        </div>
                    </div>
                </div>
            </a>
        <% } %>
        <!-- <% merch.forEach(function(merch) { %>
        <a class="product" href="/products/<%= merch._id %>">
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= merch.image %>" alt="">
            <div class="text-center">
                <h2 class="font-bold text-lg"><%= merch.name %></h2>
                <div class="flex items-center justify-around mt-1">
                    <span class="text-lg">$<%= merch.price %></span>
                </div>
            </div>
        </div>
        </a>
        <% }) %> -->
    </div>
</section>

<section class="announcement container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Announcements</h1>
        <% for (let i = 0; i < 3; i++) { %>
            <a class="announce" href="/announcements/<%= announcement[i]._id %>">
            <div class="text-left mb-6">
                <h2 class="text-lg"><%= announcement[i].title %></h2>
                <h6 class><%= moment(announcement[i].createdAt).format("MM.DD.YYYY") %></span>
            </div>
            </a>
        <% } %>
</section>